@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #4A5B6A;
    --background-color: #263A47;
    --secondary-color: #B9B9B9;
    --text-color: #FFFFFF;
    --nav-height: 80px;
}

.darkmode {
    --background-color: #95A9BD;
    --text-color: #050505;
    --primary-color: #4A5B6A;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

header {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 40px;
}

.nav-content {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 2%;
}


.logo-link {
    display: block;
    flex-shrink: 0;
    line-height: 0; /* Évite l'espace sous l'image */
}

.logo, .logo_clair {
    display: block;
    width: 100px;
    height: auto;
}

.logo_clair {
    display: none;
}

.darkmode .logo {
    display: none;
}

.darkmode .logo_clair {
    display: block;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 0;
    padding-right: 60px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    background: #4A5B6A;
    padding: 10px 30px;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 45%);
}

.darkmode .nav-links {
    background: #728495;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: #221E32;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-links li a.active {
    background: var(--background-color);
    color: #ffffff;
}

.darkmode .nav-links li a {
    color: #221E32;
}

.darkmode .nav-links a.active {
    background: var(--primary-color);
    color: #FFFFFF;
}

.logo_mobile {
    display: none;
}
.logo_mobile_clair {
    display: none;
}

#theme-switcher {
    color: var(--text-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position :fixed;
    top: 20px;
    right: 20px;
}

#theme-switcher svg {
    fill : var(--secondary-color);
}

#theme-switcher svg:last-child {
    display: none;
}

.darkmode #theme-switcher svg:last-child {
    display: block;
}

.darkmode #theme-switcher svg:first-child {
    display: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1300px) {
    

    header {
        position: fixed;
        bottom: 0;
        top: auto;     /* désactive la position haute */
        left: 0;
        right: 0;
        background: transparent;
        padding: 10px 20px;
    }

    .logo {
        display: none;
    }
    .logo_clair {
        display: none;
    }
    .logo_mobile_clair {
        display: none;
    }

    
    .darkmode .logo,.logo_clair {
        display: none;
    }

    .logo_mobile {
        display: block;
        width: 100px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .darkmode .logo_mobile {
        display: none;
    }
    .darkmode .logo_mobile_clair {
        display: block;
        width: 100px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .darkmode .logo_clair {
        display: none;
    }

    .nav-content {
        justify-content: center; /* centre le tout en bas */
    }

    .nav-links {
        padding: 8px 20px;
        gap: 1.5rem;
    }

    #theme-switcher {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10001; /* Au-dessus de tout */
    }
}

@media screen and (max-width: 880px){

    .nav-links {
        gap: 1rem;
        padding: 8px 15px;
    }
}


